

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

.uq-container-example {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.uq-passport-button {
  width: 400px;
  height: 50px;
  background-color: #44546c;
  margin: 10px;
  color: white;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
}


